POSTGRES_DB=course_db
POSTGRES_USER=course_user
POSTGRES_PASSWORD=change_to_strong_password

DEBUG=False
SECRET_KEY=change_to_long_random_secret_key
ALLOWED_HOSTS=124.156.184.244,localhost,127.0.0.1
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=http://124.156.184.244
CSRF_TRUSTED_ORIGINS=http://124.156.184.244

AUTO_CREATE_SUPERUSER=true
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=change_to_strong_admin_password
DJANGO_SUPERUSER_EMAIL=admin@example.com

FRONTEND_PORT=80
